{% load static %}
<ul class="grey-text">
        <ul class="collapsible">
            <li class="active">
                <div class="collapsible-header grey-text"><i class="material-icons">person_pin</i>Profile</div>
                <div class="collapsible-body">
                    <ul>
                        <li><a class="collapsible-header grey-text" style="border-bottom: 0; background-color: #e0e0e0;" href="/management/profile/"><i class="material-icons">person</i>My Profile</a></li>
                        <li><a class="collapsible-header grey-text" style="border-bottom: 0; background-color: #e0e0e0;" href="/management/hostelprofile/"><i class="material-icons">person_pin</i>Hostel Profile</a></li>
                    </ul>                        
                </div>
            </li>
            <li>
                <div class="collapsible-header grey-text"><i class="material-icons">dashboard</i>Dashboard</div>
                <div class="collapsible-body">
                    <ul>
                        <li><a class="collapsible-header grey-text" style="border-bottom: 0; background-color: #e0e0e0;" href="/management/dashboard/"><i class="material-icons">person_pin</i>Single Room Payments</a></li>
                        <li><a class="collapsible-header grey-text" style="border-bottom: 0; background-color: #e0e0e0;" href="/management/dashboard/"><i class="material-icons">people</i>Double Room Payment</a></li>
                    </ul>                        
                </div>
            </li>
            <li>
                <a class="collapsible-header waves-effect black-text modal-trigger" href="#hostel_plan" ><i class="material-icons black-text">mode_edit</i>Add Hostel Payment Components</a>  
            </li>
            <li>
                <a class="collapsible-header grey-text"><i class="material-icons">security</i>Hostel Policy</a></a>
            </li>
            <li>
                <a class="collapsible-header grey-text"><i class="material-icons">sync</i>Terms And Condition</a></a>
            </li>
            <li>
                <a href="/management/logout/" class="collapsible-header grey-text"><i class="material-icons">visibility_off</i>logout</a></a>
            </li>
        </ul>       
    </ul>