{% extends "home_accademia/base.html" %}
{% load static %}
{% block content %}

<!-- LOADER -->
<div id="site-loader" class="load-complete" style="display: none;">
    <div class="loader">
        <div class="loader-inner ball-clip-rotate">
            <div></div>
        </div>
    </div>
</div>
<!-- Loader /- -->
<!-- Header -->
<header class="header-main container-fluid no-padding">
    <!-- Top Header -->
    <div class="top-header container-fluid no-padding">
        <div class="container">
            <div class="topheader-left">
                <a href="tel:+254797324006" title="254797324006"><i class="fa fa-mobile" aria-hidden="true"></i>(+254) -
                    797 - 324006 </a>
                <a href="mailto:agooclinton@gmail.com" title=""><i class="fa fa-envelope-o" aria-hidden="true"></i>Email
                    as: agooclinton@gmail.com</a>
            </div>
            <div class="topheader-right">
                <a href="/user/" title="Login"><i class="fa fa-sign-out" aria-hidden="true"></i>Login</a>
                <a href="/user/register/" title="Register">Register</a>
            </div>
        </div>
    </div>
    <!-- Top Header /- -->

    <!-- Menu Block -->
    <div class="menu-block container-fluid no-padding">
        <!-- Container -->
        <div class="container" id="UASHOME">
            <div class="row">
                <!-- Navigation -->
                <nav class="navbar ow-navigation">
                    <div class="col-md-3">
                        <div class="navbar-header">
                            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar"
                                data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a title="Logo" href="#" class="navbar-brand">UAS
                                <span>Booking</span></a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="navbar-collapse collapse" id="navbar">
                            <ul class="nav navbar-nav menubar">
                                <li class="dropdown active">
                                    <a aria-expanded="false" aria-haspopup="true" href="#UASHOME" role="button"
                                        class="dropdown-toggle" title="Home">Home</a>
                                    <i class="ddl-switch fa fa-angle-down"></i>
                                </li>
                                <li class="dropdown">
                                    <a aria-expanded="false" aria-haspopup="true" role="button" class="dropdown-toggle"
                                        title="Courses"
                                        href="#">Free Student
                                        Register</a>
                                    <i class="ddl-switch fa fa-angle-down"></i>
                                    <ul class="dropdown-menu">
                                        <li><a title="your details" href="/user/">Login</a></li>
                                        <li><a title="your details" href="/user/register/">Register</a></li>
                                    </ul>
                                </li>
                                <li><a title="" href="#hostelslists">Hostels</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- Navigation /- -->
                <div class="menu-search">
                    <div id="sb-search" class="sb-search">
                            <form method="POST" action="/">
                                {% csrf_token %}
                            <input class="sb-search-input" placeholder="Search Location Or Universities..." type="text" value=""
                                name="q" id="search">
                            <button type="submit" class="sb-search-submit"><i class="fa fa-search"></i></button>
                            <span class="sb-icon-search"></span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container /- -->
    </div>
    <!-- Menu Block /- -->
</header>
<!-- Header /- -->
<!-- PhotoSlider Section -->
<div class="photoslider-section container-fluid no-padding">
    <div id="home-slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="{% static 'img/photoslider1.jpg' %}" alt="photoslider1" width="1920" height="801">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="col-md-6 col-sm-8 col-xs-8 ow-pull-right no-padding">
                            <h4 data-animation="animated bounceInLeft" class="animated bounceInLeft">Welcome</h4>
                            <h3 data-animation="animated fadeInDown" class="animated fadeInDown">To Our
                                Hostel Payment<span>And Booking Online Manage</span></h3>
                            <p data-animation="animated bounceInRight" class="animated bounceInRight">We belive
                                nothing is more important than life.</p>
                            <a href="/user/register/" title="Register" data-animation="animated zoomInUp"
                                class="animated zoomInUp">Register</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="accademia#home-slider" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="right carousel-control" href="accademia#home-slider" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>
<!-- PhotoSlider Section /- -->
<!-- Welcome Section -->
<div class="container welcome-section" id="hostelslists">
    <div class="section-padding"></div>
    <div class="section-header">
        <h3>All <span>Hostels</span>:</h3>
        <p>To Provide Accomodation Search</p>
    </div>
    <div class="row">
        {% for landlord_profile in landlord_profile_qs %}            
        <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="welcome-box animated fadeInRight">
                <img src="/hostels{{landlord_profile.your_picture.url}}" alt="welcome1" width="370" height="440">
                <div class="welcome-title">
                    <h3>Hostel Name: {{landlord_profile.hostel_name}}</h3>
                </div>
                <div class="welcome-content">
                    <span>Location: {{landlord_profile.hostel_location}}</span>
                    <p></p>
                    <ul class="course-detail">
                        <li><i class="fa fa-phone" aria-hidden="true"></i>Phone: <span>{{landlord_profile.your_phone_number}} </span></li>
                        <li><i class="fa fa-user" aria-hidden="true"></i>Name: <span>{{landlord_profile.your_full_name}} </span></li>
                    </ul>
                    <ul class="course-rating">
                        <li><a href="#" title="1 Star"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                        <li><a href="#" title="2 Star"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                        <li><a href="#" title="3 Star"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                        <li><a href="#" title="4 Star"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                        <li><a href="#" title="5 Star"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                    </ul>
                    <a class="btn btn-outline-primary" href="/hostels/list/{{landlord_profile.id}}">Read More...</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="section-padding"></div>
</div>
<!-- Welcome Section /- -->
{% endblock  %}