{% extends "student_profile/base.html" %}
{% load static %} {% load crispy_forms_tags %}
{% block scripts %}
{% endblock %}
{% block content %}
{% include "student_profile/partials/authNav.html" %}
<div class="row">
  <div class="col-md-7 m-1 card">
    <p class="card-description p-4">
      {{ user.username }}
      <code>Profile::</code>
    </p>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>
                Full Name
              </th>
              <th>
                Admission Number
              </th>
              <th>
                Phone Number
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="py-1">
              {{ user.studentprofile.full_accademic_name }}
              </td>
              <td>
              {{ user.studentprofile.admission_number }}
              </td>
              <td>
              {{ user.studentprofile.phone_number }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-body">
    All My Units
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>
                Unit Name |  Unit Code
              </th>
              <th>
                Date Booked
              </th>
            </tr>
          </thead>
          <tbody>
          {% for user_unit in user_qs_unit %}
            <tr>
              <td class="py-1">
              {{ user_unit.unit }}
              </td>
              <td>
              {{ user_unit.timestamp|timesince }}
              </td>
            </tr>            
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-4 m-1 card">
    <p class="card-description p-4">
      {{ user.username }}
      <code>Update Profile::</code>
    </p>
    <div class="card-body">
    {% if messages %}
        {% for  message in messages %}
            <div class="alert alert-{{message.tags}}">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    <p class="p-2 text-danger">This Is A One Time Form Fill It Carefully</p>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-group">
                <button type="submit" class="btn btn-primary submit-btn btn-block">Add</button>
            </div>                
        </form>
    </div>
  </div>

</div>
{% include "student_profile/partials/authFooter.html" %} 
{% endblock %}