{% extends "student_profile/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_authenticated %}
{% load static %} {% load crispy_forms_tags %}
{% include "student_profile/partials/authNav.html" %} 
<div class="row">
  <div class="col-md-6 m-1 card p-2">
    <a href="" class="btn btn-info">My Profile</a>
  </div>
  <div class="col-md-5 m-1 card">
     {% comment %} <form action="/Accounts/updateprofile/" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ profile_update_form|crispy }}
      <input type="text" hidden name="user_id" class="form-control" value="{{ user.id }}"> 
      <div id="div_id_profile_pic" class="form-group"> 
        <label for="id_profile_pic" class="col-form-label  requiredField">
        Update Profile pic<span class="asteriskField">*</span> 
        </label> 
        <div class=""> 
          <input type="file" name="profile_pic" accept="image/*" id="id_profile_pic"> 
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Upload Profile Pic</button>
      </div>
   </form> {% endcomment %}
  </div>
</div>
{% include "student_profile/partials/authFooter.html" %}
{% else %}
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
      <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
        <div class="row w-100">
          <div class="col-lg-4 mx-auto">
            <div class="auto-form-wrapper">
              <form action="" method="POST">
              {% csrf_token %}
                {{ form|crispy }}
                <div class="form-group">
                  <button type="submit" class="btn btn-primary submit-btn btn-block">Login</button>
                </div>
                <div class="form-group d-flex justify-content-between">
                  <div class="form-check form-check-flat mt-0">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" checked> Keep me signed in
                    </label>
                  </div>
                  <a href="#" class="text-small forgot-password text-black">Forgot Password</a>
                </div>
                <div class="form-group">
                  <button class="btn btn-block g-login">
                    <img class="mr-3" src="../../images/file-icons/icon-google.svg" alt="">Log in with Google</button>
                </div>
                <div class="text-block text-center my-3">
                  <span class="text-small font-weight-semibold">Not a member ?</span>
                  <a href="/user/register/" class="text-black text-small">Create new account</a>
                </div>
              </form>
            </div>
            <ul class="auth-footer">
              <li>
                <a href="#">Conditions</a>
              </li>
              <li>
                <a href="#">Help</a>
              </li>
              <li>
                <a href="#">Terms</a>
              </li>
            </ul>
            <p class="footer-text text-center">copyright © 2019 KahDichienjah. Akcsll rights reserved.</p>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
{% endif %}
{% endblock %}