{% extends 'root_base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="hero-wrap ftco-degree-bg" style="background-image: url({% static 'images/bg_1.jpg' %}); background-position: 50% 74px;" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text justify-content-center align-items-center">
            <div class="col-lg-8 col-md-6 ftco-animate d-flex align-items-end fadeInUp ftco-animated">
                <div class="text text-center">
                    <h1 class="mb-4">The Simplest <br>Way to Find Accommodation</h1>
                    <p style="font-size: 18px;">A small minded Geeck named Clinton Agoo: Blows your mind and supplies you with full
                        stack web with Django Python web Framwork. It is a paradisematic mind, in which roasted parts gloss</p>
                    <form action="#" class="search-location mt-md-5">
                        <div class="row justify-content-center">
                            <div class="col-lg-10 align-items-end">
                                <div class="form-group">
                                    <div class="form-field">
                                        <input type="text" class="form-control" placeholder="Search location">
                                        <button><span class="icon-long-arrow-right mr-2"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="mouse">
        <a href="#" class="mouse-icon">
            <div class="mouse-wheel"><span class="icon-long-arrow-down mr-2"></span></div>
        </a>
    </div>
</div>
<section class="ftco-section ftco-no-pb">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section text-center ftco-animate mb-5 fadeInUp ftco-animated">
                <span class="subheading">Our Services</span>
                <h2 class="mb-2">The smartest way to rent a House</h2>
            </div>
        </div>
        <div class="row d-flex">
            <div class="col-md-3 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
                <div class="media block-6 services d-block text-center">
                    <div class="icon d-flex justify-content-center align-items-center"><span
                            class="flaticon-piggy-bank"></span></div>
                    <div class="media-body py-md-4">
                        <h3>No Downpayment</h3>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
                <div class="media block-6 services d-block text-center">
                    <div class="icon d-flex justify-content-center align-items-center"><span
                            class="flaticon-wallet"></span></div>
                    <div class="media-body py-md-4">
                        <h3>All Cash Offer</h3>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
                <div class="media block-6 services d-block text-center">
                    <div class="icon d-flex justify-content-center align-items-center"><span
                            class="flaticon-file"></span></div>
                    <div class="media-body py-md-4">
                        <h3>Experts in Your Corner</h3>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
                <div class="media block-6 services d-block text-center">
                    <div class="icon d-flex justify-content-center align-items-center"><span
                            class="flaticon-locked"></span></div>
                    <div class="media-body py-md-4">
                        <h3>Lokced in Pricing</h3>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section goto-here">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section text-center ftco-animate mb-5">
                <span class="subheading">Service To Student</span>
                <h2 class="mb-2">System Service To Student</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="property-wrap ftco-animate">
                    <video src="{% static 'video/2-maximize-access_ff.mp4' %}" poster="video.jpg" height="250" width="270" autoplay muted loop>
                    </video>
                <div class="text">
                    <h3><a href="#">Quick Accommodation</a></h3>
                    <p class="price">
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <span class="location">Search</span>
                    <a href="#" class="d-flex align-items-center justify-content-center btn-custom">
                    </a>
                </div>
            </div>
            </div>
            <div class="col-md-4">
                <div class="property-wrap ftco-animate">
                    <video src="{% static 'video/step07_improving_results--ff.mp4' %}" poster="video.jpg" height="250" width="270" autoplay muted loop>
                    </video>
                    <div class="text">
                    <h3><a href="#">Roomate Selection</a></h3>
                    <p class="price">
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <span class="location">Search</span>
                    <a href="#" class="d-flex align-items-center justify-content-center btn-custom">
                    </a>
                </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="property-wrap ftco-animate">
                    <video src="{% static 'video/4-protect-privacy_ff.mp4' %}" poster="video.jpg" height="250" width="270" autoplay muted loop>
                    </video>
                    <div class="text">
                    <h3><a href="#">User Privacy</a></h3>
                    <p class="price">
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <span class="location">Search</span>
                    <a href="#" class="d-flex align-items-center justify-content-center btn-custom">
                    </a>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section goto-here">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section text-center ftco-animate mb-5 fadeInUp ftco-animated">
                <span class="subheading">Platform Service</span>
                <h2 class="mb-2">Exclusive Offer For You</h2>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-degree-bg services-section img mx-md-5"
    style="background-image: url({% static 'images/bg_1.jpg' %});">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-start mb-5">
            <div class="col-md-6 text-center heading-section heading-section-white ftco-animate fadeInUp ftco-animated">
                <span class="subheading">Work flow</span>
                <h2 class="mb-3">How it works</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
                        <div class="media block-6 services services-2">
                            <div class="media-body py-md-4 text-center">
                                <div class="icon mb-3 d-flex align-items-center justify-content-center"><span>01</span>
                                </div>
                                <h3>Evaluate Property</h3>
                                <p>A small river named Duden flows by their place and supplies it with the necessary
                                    regelialia.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
                        <div class="media block-6 services services-2">
                            <div class="media-body py-md-4 text-center">
                                <div class="icon mb-3 d-flex align-items-center justify-content-center"><span>02</span>
                                </div>
                                <h3>Meet Your Agent</h3>
                                <p>A small river named Duden flows by their place and supplies it with the necessary
                                    regelialia.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
                        <div class="media block-6 services services-2">
                            <div class="media-body py-md-4 text-center">
                                <div class="icon mb-3 d-flex align-items-center justify-content-center"><span>03</span>
                                </div>
                                <h3>Close the Deal</h3>
                                <p>A small river named Duden flows by their place and supplies it with the necessary
                                    regelialia.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
                        <div class="media block-6 services services-2">
                            <div class="media-body py-md-4 text-center">
                                <div class="icon mb-3 d-flex align-items-center justify-content-center"><span>04</span>
                                </div>
                                <h3>Have Your Property</h3>
                                <p>A small river named Duden flows by their place and supplies it with the necessary
                                    regelialia.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-no-pb">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center"
                style="background-image: url({% static 'images/about.jpg' %});">
            </div>
            <div class="col-md-6 wrap-about py-md-5 ftco-animate">
                <div class="heading-section p-md-5">
                    <h2 class="mb-4">We Put Landlord And Universities First.</h2>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It
                        is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                    <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it
                        would have been rewritten a thousand times and everything that was left from its origin would be
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-counter img" id="section-counter">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                <div class="block-18 py-4 mb-4">
                    <div class="text text-border d-flex align-items-center">
                        <strong class="number" data-number="{{accommodation.count}}">{{accommodation.count}}</strong>
                        <span>Universities <br>Registered</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                <div class="block-18 py-4 mb-4">
                    <div class="text text-border d-flex align-items-center">
                        <strong class="number" data-number="{{universities.count}}">{{universities.count}}</strong>
                        <span>Total <br>Accommodation</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                <div class="block-18 py-4 mb-4">
                    <div class="text text-border d-flex align-items-center">
                        <strong class="number" data-number="{{accommodation.count}}">{{accommodation.count}}</strong>
                        <span>Average <br>House</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                <div class="block-18 py-4 mb-4">
                    <div class="text d-flex align-items-center">
                        <strong class="number" data-number="7">7</strong>
                        <span>Total <br>Branches</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-agent ftco-no-pt">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <span class="subheading">Agents</span>
                <h2 class="mb-4">Our Agents</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 ftco-animate">
                <div class="agent">
                    <div class="img">
                        <video src="{% static 'video/6-help-succeed_ff.mp4' %}" poster="video.jpg" height="350" width="270" autoplay muted loop>
                        </video>
                    </div>
                    <div class="desc">
                        <h3><a href="properties.html">Agoo Clinton</a></h3>
                        <p class="h-info"><span class="location">Software Engineer</span> <span class="details">— 10X
                                Programmer</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ftco-animate">
                <div class="agent">
                    <div class="img">
                        <img src="{% static './Uptown - Free Bootstrap 4 Template by Colorlib_files/team-2.jpg' %}"
                            class="img-fluid" alt="Colorlib Template">
                    </div>
                    <div class="desc">
                        <h3><a href="properties.html">James Stallon</a></h3>
                        <p class="h-info"><span class="location">Listing</span> <span class="details">— 10
                                Properties</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ftco-animate">
                <div class="agent">
                    <div class="img">
                        <img src="{% static './Uptown - Free Bootstrap 4 Template by Colorlib_files/team-3.jpg' %}"
                            class="img-fluid" alt="Colorlib Template">
                    </div>
                    <div class="desc">
                        <h3><a href="properties.html">Sheril Agoo</a></h3>
                        <p class="h-info"><span class="location">System Manager</span> <span class="details">— And System Designer</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ftco-animate">
                <div class="agent">
                    <div class="img">
                        <img src="{% static './Uptown - Free Bootstrap 4 Template by Colorlib_files/team-4.jpg' %}"
                            class="img-fluid" alt="Colorlib Template">
                    </div>
                    <div class="desc">
                        <h3><a href="properties.html">James Stallon</a></h3>
                        <p class="h-info"><span class="position">Listing</span> <span class="details">— 10
                                Properties</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}