{% extends 'root_base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="hero-wrap ftco-degree-bg" style="background-image: url({% static 'images/bg_1.jpg' %}); background-position: 50% 74px;" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text justify-content-center align-items-center">
            <div class="col-lg-8 col-md-6 ftco-animate d-flex align-items-end fadeInUp ftco-animated">
                <div class="text text-center">
                    <h1 class="mb-4">The Simplest <br>Way to Find Accommodation</h1>
                    <p style="font-size: 18px;">A small minded Geeck named Clinton Agoo: Blows your mind and supplies you with full
                        stack web with Django Python web Framwork. It is a paradisematic mind, in which roasted parts gloss</p>
                    <form action="." method="POST" class="search-location mt-md-5">
                        {% csrf_token %}
                        <div class="row justify-content-center">
                            <div class="col-lg-10 align-items-end">
                                <div class="form-group">
                                    <div class="form-field">
                                        <input type="text" class="form-control" name="q" placeholder="Search location">
                                        <button type="submit" name="submit"><span class="icon-long-arrow-right mr-2"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="mouse">
        <a href="#" class="mouse-icon">
            <div class="mouse-wheel"><span class="icon-long-arrow-down mr-2"></span></div>
        </a>
    </div>
</div>
<section class="ftco-section goto-here">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section text-center ftco-animate mb-5">
                <span class="subheading">Service To Student</span>
                <h2 class="mb-2">System Service To Student</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="property-wrap ftco-animate">
                    <video src="{% static 'video/2-maximize-access_ff.mp4' %}" poster="video.jpg" height="250" width="270" autoplay muted loop>
                    </video>
                <div class="text">
                    <h3><a href="#">Quick Accommodation</a></h3>
                    <p class="price">
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <span class="location">Search</span>
                    <a href="#" class="d-flex align-items-center justify-content-center btn-custom">
                    </a>
                </div>
            </div>
            </div>
            <div class="col-md-4">
                <div class="property-wrap ftco-animate">
                    <video src="{% static 'video/step07_improving_results--ff.mp4' %}" poster="video.jpg" height="250" width="270" autoplay muted loop>
                    </video>
                    <div class="text">
                    <h3><a href="#">Roomate Selection</a></h3>
                    <p class="price">
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <span class="location">Search</span>
                    <a href="#" class="d-flex align-items-center justify-content-center btn-custom">
                    </a>
                </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="property-wrap ftco-animate">
                    <video src="{% static 'video/4-protect-privacy_ff.mp4' %}" poster="video.jpg" height="250" width="270" autoplay muted loop>
                    </video>
                    <div class="text">
                    <h3><a href="#">User Privacy</a></h3>
                    <p class="price">
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <span class="location">Search</span>
                    <a href="#" class="d-flex align-items-center justify-content-center btn-custom">
                    </a>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}