{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- content -->
<div class="row">
    <div class="col l3 hide-on-med-and-down">
    {% if request.user.is_authenticated %}
        {% include "partial/full_sidenav.html" %}
    {% else %}
        
    {% endif %}    
    </div>
    <div class="col s12 l6 m12">
        <div class="card row grey lighten-4">
            <div class="col s12">
                <div class="" style="padding: 1.2rem;">
                    <div class="card-content center">
                        <div class="col s3" style="margin-bottom: 1rem">
                            <i class="material-icons light-green-text medium">receipt</i>
                            <p>Receipt</p>
                            <p>
                                {{hostel_payments.count}} 
                            </p>
                        </div>
                        <div class="col s3" style="margin-bottom: 1rem">
                            <i class="material-icons medium lime-text">payment</i>
                            <p>Payments</p>
                            <p>
                                {% if hostel_payments.hostel_name == landlordprofile.hostel_name %}
                                    {{hostel_payments.count}}
                                {% endif %}  
                            </p>
                        </div>
                        <div class="col s3" style="margin-bottom: 1rem">
                            <i class="material-icons medium light-blue-text">location_city</i>
                            <p>Total Rooms</p>
                            <p>  
                                {% for total in total_no_of_rooms %}
                                    {% if landlordprofile.hostel_name == total_no_of_rooms.hostel_name %}
                                    <blockquote>
                                        {{total.hostel_name}}:{{total.total_no_of_rooms}}
                                    </blockquote>
                                    {% endif %}     
                                {% endfor %}   
                            </p>
                        </div>
                        <div class="col s3" style="margin-bottom: 1rem">
                            <i class="material-icons medium  blue-grey-text">people</i>
                            <p>Total Tenants</p>
                            <p>{{hostelpaymentplan.count}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="collapsible">
            <li>
                <div class="collapsible-header">
                    Hostel Payments Components
                    <span class="badge"><i class="material-icons">arrow_drop_down</i></span>
                </div>
                <div class="collapsible-body">
                    <div class="card-content">
                        <blockquote>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Tenanat Name</th>
                                        <th>Payment Plan</th>
                                        <th>Amount Paid</th>
                                        <th>Is Paid</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for paymentplan in hostelpaymentplan_for_payment_display_qs %}
                                    
                                    {% if landlordprofile.id == hostelpaymentplan_for_payment_display_qs.paymentplan_id %}
                                        
                                    {% endif %}
                                        
                                        <tr>
                                            <td>
                                                {{paymentplan.tenant}}
                                            </td>
                                            <td>{{paymentplan.paymentplan}}</td>
                                            <td>{{paymentplan.amountpaid}}</td>
                                            <td>False</td>
                                        </tr>
                                    {% endfor %}
                            </tbody>
                            </table>
                        </blockquote> 
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col s3 hide-on-med-and-down">

    </div>
</div>
<!-- end content -->
{% endblock %}